.inner {
    max-width: calc(800px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
}

.inner .title {
    position: absolute;
    margin-left: 133px;
    bottom: 0;
}

#project_title {
    color: #569dfa;
    font-family: 'Denk One', sans-serif;
    font-size: 88px;
    -webkit-text-stroke: 1.3px white;

}

#project_title.small-title {
    font-size: 40px;
    text-decoration: underline;
    -webkit-text-stroke: 0px !important;
}

#project_tagline {
    margin: 0;
}

.avatar {
    margin-top: 88px;
    vertical-align: middle;
    max-width: 100%;
    border: 0px solid white;
    -webkit-border-radius: 1500px;
    background: url(../img/avatar_blue.png) no-repeat;
    background-position: top;
    background-size: contain;
    width: 100px;
    height: 100px;
}

a {
    color: #569dfa;
}

nav a {
    color: #569dfa;
    font-weight: bold;
    margin: 0 20px;
}

nav {
    background: #454545;
    padding: 10px;
    color: white;
}

.site-footer {
    color: white;
}

.site-footer span {
    font-weight: bold;
}

#main_content .em {
    font-weight: bold;
    font-size: 1.2em;
}

#main_content .ems {
    font-weight: bold;
}

.subtitle {
    font-style: italic;
}

.subtitle .preference {
    color: #0cbb4f;
}

div.example {
    display: block;
    padding: 10px;
}
div.example button {
    margin: 10px;
    padding: 10px;
    width: 60%;
    font-weight: bold;
}
div.example span {
    display: block;
    font-weight: normal;
}
div.center {
    text-align: center;
}

.alist li {
    padding: 10px;
    margin: 10px;
    /* border: 1px solid rgb(104, 104, 104); */
}

.alist i {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -1.3px;
}

button.yes {
    color:#0c642e;
    background-color: #cbf1da;
    border: 1px solid #0cbb4f
}
button.yes:hover {
    background-color: #8af3b4;
}
button.no {
    color: rgb(150, 10, 10);
    background-color: #ffc2c2;
    border: 1px solid #940000
}
button.no:hover {
    background-color: #e06969;
}
